*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/app/.gitignore
/app/build.gradle
/.idea/compiler.xml
/app/src/androidTest/java/my/virkato/islands/ExampleInstrumentedTest.java
/app/src/test/java/my/virkato/islands/ExampleUnitTest.java
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/app/release/Islands.apk
/.idea/misc.xml
/app/release/output-metadata.json
/app/proguard-rules.pro
/.idea/vcs.xml
