*.iml
.gradle
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/local.properties
/.idea
.DS_Store
/app/build
/app/release
/app/src/test/java/my/virkato/islands/ExampleUnitTest.java
/app/proguard-rules.pro
/captures
.externalNativeBuild
.cxx
